apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  labels:
    machine.openshift.io/cluster-api-cluster: "{{ cluster_info.resources[0].status.infrastructureName }}"
  name: "{{ cluster_info.resources[0].status.infrastructureName }}-{{ item.name }}-{{ item.zone }}"
  namespace: openshift-machine-api
spec:
  replicas: 1
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: "{{ cluster_info.resources[0].status.infrastructureName }}"
      machine.openshift.io/cluster-api-machineset: "{{ cluster_info.resources[0].status.infrastructureName }}-{{ item.name }}-{{ item.zone }}"
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: "{{ cluster_info.resources[0].status.infrastructureName }}"
        machine.openshift.io/cluster-api-machine-role: "{{ item.machine_role }}"
        machine.openshift.io/cluster-api-machine-type: "{{ item.machine_type }}"
        machine.openshift.io/cluster-api-machineset: "{{ cluster_info.resources[0].status.infrastructureName }}-windows-worker-{{ aws_zone }}"
        machine.openshift.io/os-id: "{{ item.os }}"
    spec:
      metadata:
        labels:
          {{ item.node_role }}: ""
      providerSpec:
        value:
          ami:
            id: "{{ windows_ami_id }}"
          apiVersion: awsproviderconfig.openshift.io/v1beta1
          blockDevices: {{ item.block-devices }}
          credentialsSecret:
            name: aws-cloud-credentials
          deviceIndex: 0
          iamInstanceProfile:
            id: "{{ cluster_info.resources[0].status.infrastructureName }}-worker-profile"
          instanceType: "{{ item.instance_type }}"
          kind: AWSMachineProviderConfig
          placement:
            availabilityZone: "{{ item.zone }}"
            region: "{{ item.region }}"
          securityGroups:
            - filters:
                - name: tag:Name
                  values:
                    - "{{ cluster_info.resources[0].status.infrastructureName }}-worker-sg"
          subnet:
            filters:
              - name: tag:Name
                values: {{ aws_subnets }}
          tags: {{ item.tags }}
          userDataSecret:
            name: windows-user-data
            namespace: openshift-machine-api