apiVersion: observability.open-cluster-management.io/v1beta2
kind: MultiClusterObservability
metadata:
  name: {{ acm_observability_name }}
spec:
  advanced:
    retentionConfig:
      retentionResolution1h: 30d
      retentionResolution5m: 14d
      retentionResolutionRaw: 5d
  enableDownsampling: false
  imagePullPolicy: Always
  imagePullSecret: {{ acm_observability_pull_secret }}
  observabilityAddonSpec:
    enableMetrics: true
    interval: 60
  storageConfig:
    alertmanagerStorageSize: 10Gi
    compactStorageSize: 10Gi
    metricObjectStorage:
      key: thanos.yaml
      name: thanos-object-storage
    receiveStorageSize: 10Gi
    ruleStorageSize: 10Gi
    storageClass: {{ acm_observability_storage_class }}
    storeStorageSize: 10Gi
