apiVersion: v1
kind: Secret
metadata:
  name: thanos-object-storage
  namespace: {{ acm_observability_namespace }}
type: Opaque
stringData:
  thanos.yaml: |
    type: s3
    config:
      bucket: asdf
      endpoint: s3.openshift-storage.svc.cluster.local
      insecure: true
      access_key: asdf
      secret_key: asdf