apiVersion: v1
kind: Secret
metadata:
  name: thanos-object-storage
  namespace: {{ acm_observability_namespace }}
type: Opaque
stringData:
  thanos.yaml: |
    type: s3
    config:
      bucket: {{ obc_config_map.resources[0].data.BUCKET_NAME }}
      endpoint: {{ obc_config_map.resources[0].data.BUCKET_HOST }}
      insecure: true
      access_key: {{ obc_secret.resources[0].data.AWS_ACCESS_KEY_ID | b64decode }}
      secret_key: {{ obc_secret.resources[0].data.AWS_SECRET_ACCESS_KEY | b64decode }}